
.primary-container-type-drink {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-type-drink {
    /* border: 1px solid blue; */
    width: 45%;
    padding-bottom: 25px;
}

.style-title {
    font-size: 75px;
    color: #52E4FB;
}

.style-scenary{
    position: absolute;
    left: 15px;
    top: 10px;
}